[submodule "foss/backbone"]
	path = foss/backbone
	url = https://github.com/documentcloud/backbone.git
[submodule "foss/underscore"]
	path = foss/underscore
	url = https://github.com/documentcloud/underscore.git
