[submodule "foss/backbone"]
	path = foss/backbone
	url = git@github.com:documentcloud/backbone.git
[submodule "foss/underscore"]
	path = foss/underscore
	url = git@github.com:documentcloud/underscore.git
